# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

### JetBrains template
# User-specific stuff:
.idea

## File-based project format:
*.iws
.kitchen/
.kitchen.local.yml

# Gem
Gemfile.lock
